.list {
    border: 3px solid lightgray;
    margin:auto;
    margin-top:30px;
    width:500px;
    height: 60px;
    border:none;
}

.listTwo {
    float: left;
}

.listCategory {
    float:left;
    border: none;
    margin:5px;
    border-radius:30px;
    padding: 5px;
    margin: auto;
    background:#A9DD54;
    color:white;
}

.listName {
    float:left;
    margin-left: 50px;
}

.adminpagination {
    position: relative;
    /*left:38%;*/
    /*bottom:18%;*/
    /*width:30%;*/
    margin-top: 5%;
    bottom:0;
}

.admincategory{
    margin-left:40%;
    margin-top:30px;
}

.address{
    margin-top: 20%;
}

