.box {
        background: #F5F5F5;
}

.container {
    width: 1500px;
    padding: 10px 10px 10px 10px;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    /*margin-left: 50px;*/
    text-align: center;
}

.searchbox {
    padding-top: 30px;
    border: none;
    width: 100%;
    text-align:center;

}
/*.card {*/
/*    height: 400px;*/
/*    line-height: 100px;*/
/*}*/

/*.card {*/
/*    margin:50px;*/
/*    padding: 50px;*/
/*}*/


#hidden {
    visibility: hidden;
}

.searchinput {
    width: 400px;
    height: 35px;
    /*background-color : none;*/
    /*border-radius: 30px;*/
    border: none;
    /*box-shadow: 0px 0px 5px lightgray;*/
    background: #FFFFFF;
    /* default */
    
    box-shadow: 1px 1px 10px rgba(96, 108, 128, 0.15);
    border-radius: 24px;
}

.searchButton {
    width: 80px;
    margin-left: 20px;
    height: 30px;
    /*background-color : none;*/
    /*border-radius: 20px;*/
    /*border: 1px solid lightgray;*/
    /*box-shadow: 0px 0px 5px lightgray;*/
    /*background: linear-gradient(55.6deg, #A9DD54 0%, #56CDDD 88.09%);*/
    /*box-shadow: 1px 1px 10px rgba(96, 108, 128, 0.15);*/
    /*border-radius: 14px;*/
    /*color: white;*/
    background: #A9DD54;
    border-radius: 24px 24px 24px 24px;
    border: none;
    box-shadow: 0px 0px 5px lightgray;
    color:white;
    text-align:center;
    cursor: pointer;
}

.category {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    width: 60px;
    height: 25px;
    text-align: center;
    border-radius: 50px;
    float: center;
    background: #A9DD54;
    border: none;
    color: white;
}

.cardList {
   float:top;
}

.card {
    /*float:left;*/
}

.pagination {
    float: bottom;
}

.bigCard {
    float: top;
}