.tablesize {
    text-align: center;
    width: 100%;
}

table {
    width: 80%;
    border: 1px solid darkgray;
    border-collapse: collapse;
    margin: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
      background: #D9D9D9;
      color: black;
  }
  
  th, td {
     border-right: hidden;
     border-left: hidden;
    border-bottom: 2px solid lightgray;
    padding : 0.3em;
  }
  
  .code {
      width: 35px;
  }
  
  .websiteList {
      width: 200px;
  }
  
  .courseName {
      width: 200px;
  }
  
  .courseDuration {
      width: 80px;
  }
  
  .id {
      width: 80px;
  }
  
  .detail, .delete, .approve, .update {
      width: 100px;
  }
  
  .approve {
      width: 100px;
  }
  
  .yesOrNo {
      width: 100px;
  }
  
  .button {
      cursor: pointer;
      border: none;
      /*background-color:transparent; 버튼투명하게*/ 
  }
  .type {
      width: 70px;
  }