.registerForm {

  position: absolute;

  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 550px;
  background: #FFFFFF;
  border: 2px solid #A9DD54;
  border-radius: 20px;

  margin: 0px;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.regiWelcome {
  
  width: 300px;
  height: 100px;
  left: 10% !important;
  top: 5%;

  font-family: 'Noto Sans CJK KR';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;

  color: #A9DD54;
  justify-content: space-evenly;

}

.regiButton {

  position: relative;

  left: 1%;
  top: 12%;

  width: 300px;
  height: 50px;
  background-color: #FFFFFF;
  color: #A9DD54;
  border-radius: 8px;
  border: #77b416 solid 2px;

  cursor: pointer;

}

.regiInput {

  position: relative;

  left: 3%;

  padding: 0px;
  border: none;
  border-bottom: 1px solid #CFCFCF;
  width: 300px;
  height: 30px;
  margin-bottom: 30px;
  
}

.regiLabel {
  color: lightgrey;

  position: relative;

  left: -38%;

}

.regiLabel2 {
  color: lightgrey;

  position: relative;

  left: -36%;

}

/* div.container {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
} */

.regiInput.agree {
  align-items: center;
  font-size: 20pt;
  width: 15px;
  height: 15px;
}