.input {
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:center;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin-left: 10px;
    
}

/*label {*/
/*    text-align: center;*/
/*}*/

.modalboss{
    text-align: center;
    margin-left: 300px;
}

.modalcontents{
    /*display: "flex",*/
    justifyContent: center;
    alignItems: center;
    width: 800px;
    height: 350;
    border: 2px solid lightgray;
    margin: 5px;
    border-radius: 30px;
}
.top {
    display: float;
    margin: 10px;
}

.topTop {
    float: left;
    margin-right: 40px;
}

.topMiddle {
    float: left;
    margin-right: 10px;
}

.topBottom {
    float: right;
    margin-right: 10px;
}

.account {
    width: 700px;
    height: 100px;
}

.middle {
    display: float;
    margin: 10px;
}

.middleTop {
    float: left;
    margin-right: 70px;
}

.middleMiddle {
    float: left;
}

.middleBottom {
    float: right;
    margin-right: 50px;
}

.bottom {
    margin: 10px;
}

.okButton {
    boder: 1px solid white;
    width: 50px;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-bottom: 50px;
    background: #A9DD54;
    border: none;
    border-redius: 12px;
}

.bottomBottom {
    height: 50px;
}